<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parameters">
            <h2><span jhiTranslate="twentyOnePointsApp.parameters.detail.title">Parameters</span> {{parameters.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="twentyOnePointsApp.parameters.weeklyGoal">Weekly Goal</span></dt>
                <dd>
                    <span>{{parameters.weeklyGoal}}</span>
                </dd>
                <dt><span jhiTranslate="twentyOnePointsApp.parameters.weight">Weight</span></dt>
                <dd>
                    <span jhiTranslate="{{'twentyOnePointsApp.Units.' + parameters.weight}}">{{parameters.weight}}</span>
                </dd>
                <dt><span jhiTranslate="twentyOnePointsApp.parameters.parameter">Parameter</span></dt>
                <dd>
                    {{parameters.parameter?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parameters', parameters.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
